:root {
    --cor0: #0e1a33;
    --cor1: #061b2c;
    --cor2: #0c3455;
    --cor3: #8dc63F;
    --cor4: #40ba84;
    --cor5: #ef4123;
    --cor6: #f7941e;
    --cor7: #909090;
    --cor8: #ffffff;
}

html, body {
    height: 100%;
  }
  
  .vh-100 {
    height: 100%;
  }
  
  body {
    background-color: #40ba84;
  }

.background-login{
    background-color: #40ba84;
}

.custom-card {
    max-height: 85vh; 
    min-width: auto;
  }

  body, html {
    height: 100%;
  }
  
  .background-login {
    /* Use flexbox para centralizar o card verticalmente e horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }