   body {
    background-image: url('./img/astronauta.png'); 
  
    height: 100vh;
}
img{
    margin: 0;
    padding: 0;
    background-image: url('./img/astronauta.png'); /* Substitua pelo caminho da sua imagem de fundo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
    overflow: hidden;
    
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 20px;
    margin-top: 100px;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.9); 
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
}

.btn-login {
    background-color: #007BFF; 
    color: #fff; 
    border: none;
    border-radius: 20px;
}