:root {
    --cor0: #0e1a33;
    --cor1: #061b2c;
    --cor2: #0c3455;
    --cor3: #8dc63F;
    --cor4: #40ba84;
    --cor5: #ef4123;
    --cor6: #f7941e;
    --cor7: #909090;
    --cor8: #ffffff;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
    text-align: center;
    min-height: 150px;
    padding-top: 30px;
}

header>h1 {
    color: var(--cor8);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.466);
}

header>p {
    color: var(--cor8);
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.466);
}

nav {
    background-color: var(--cor2);
    padding: 15px;
    box-shadow: 0px 2px 2px #0000005b;
    text-align: center;
    margin-bottom: 10px;
}

nav a {
    color: var(--cor8);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav a:hover {
    border-bottom: 5px solid var(--cor3);
    padding-bottom: 2px;
    text-decoration: none;/
}

